*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(203, 244, 22);
    color: black;
}
.go{
    color: brown;
    background-color: rgba(26, 26, 30, 0.957);


}